.filters {
  display: flex;
}

.filter {
  text-align: center;
  margin-left: 2rem;
  opacity: 0.5;
}

.filter:hover {
  opacity: 1;
}
.link-style {
  text-decoration: none;
  color: black;
}
p {
  font-size: 0.9rem;
}

@media (max-width: 400px) {
  .olg {
    display: none;
  }
}
@media (min-width: 400px) and (max-width: 750px) {
  .olgs {
    display: none;
  }
}
