body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #e9ecef;
}
:root {
  --gray: #dcdede;
}
.navbar-collapse {
  background-color: #e9ecef;
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  height: 3rem;
}
.nav-link {
  color: #222222 !important;
}

.searchResult {
  overflow: visible;
}

.searchinput {
  padding: 9px 64px;
  font-size: 1rem;
  border-end-start-radius: 25px;
  border-start-start-radius: 25px;
  border: none;
  outline: none;
  box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.1), -1px 1px 3px rgba(0, 0, 0, 0.08);
}

.searchButton {
  display: flex;
  align-items: center;
  border-end-end-radius: 25px;
  border-start-end-radius: 25px;
  background-color: #fff;
  border: none;
  border-left: 1px solid rgb(215, 213, 213);
  padding: 9px 12px;
  /* color: #da7e87; */
  outline: none;
  font-size: 0.9rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.08);
}
.profile-container {
  display: flex;
  align-items: center;
}
.profile-container a {
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
  color: black;
}

.profile-container a:hover {
  background-color: rgb(236, 238, 239);
  border-radius: 0.5rem;
}

.bottom-nav {
  display: none;
}

@media (max-width: 400px) {
  .searchinput {
    width: 15rem;
  }
  .searchButton{
    padding: 9px 12px;
    width:3rem;
  }
  .search-container{
    flex-direction: row;
  }
  .navbar-collapse {
    display: block;
    margin-top: 1;
  }
}
@media (min-width: 400px) and (max-width: 800px) {
  .searchinput {
    width: 18rem;
  }
  .searchButton{
    padding: 9px 12px;
    width:3rem;
  }
  .search-container{
    flex-direction: row;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .searchinput {
    width: 18rem;
  }
  .searchButton{
    padding: 9px 12px;
    width:3rem;
  }
  .search-container{
    flex-direction: row;
  }
}

@media screen and (min-width: 1300px) {
  .searchinput {
    width: 28rem;
  }
}

@media screen and (max-width: 800px) {
  .bottom-nav {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid var(--gray);
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  }

  /* .profile-container {
    display: none;
  } */
  /* .navbar-logo {
    display: none;
  } */

  /* .searchButton {
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: #fe424d;
    color: white;
    padding: 8px 20px;
    border: none;
    margin-left: 0.5rem;
    font-size: 0.9rem;
  } */
}

.dropdown-menu {
  /* width: 27rem; */
  margin-top: 0.5rem !important;
  border-radius: 1rem;
}
.dropdown-item {
  padding: 10px 30px;
}
.dropdown-item:hover {
  background-color: #efefef;
  border-radius: 2px;
}

/* Hide the element on larger screens */
.btn-dark-xs-sm {
  display: none;
}

.search-wrapper {
  position: relative;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #e9ecef;
  /* border: 1px solid #ccc; */
  border-top: none;
  z-index: 1000;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  /* border: none; */
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1), 2px 2px 3px rgba(0, 0, 0, 0.08);


}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: white;
}
